<h2 class="display-2 my-3">{{ this.issue ? 'Edit' : 'New' }} issue</h2>

<form action="" (ngSubmit)="onSave()" [formGroup]="issueForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      placeholder="Title"
      formControlName="title"
      [class.is-invalid]="isInvalidAndTouchedOrDirty('title')"
    />
    <div class="invalid-feedback">Please provide a title!</div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      class="form-control"
      rows="5"
      formControlName="description"
    ></textarea>
    <div class="invalid-feedback">Please provide a description!</div>
  </div>
  <div class="form-group">
    <label for="place">Place</label>
    <input
      type="text"
      class="form-control"
      placeholder="Place"
      formControlName="place"
      [class.is-invalid]="isInvalidAndTouchedOrDirty('place')"
      [class.is-valid]="issueForm.get('place')?.valid"
    />
    <div class="invalid-feedback">Please provide a place!</div>
  </div>
  <div class="form-group">
    <label for="status">Status</label>
    <select
      class="form-control"
      formControlName="status"
      [class.is-invalid]="isInvalidAndTouchedOrDirty('status')"
    >
      <option value="NEW">New</option>
      <option value="DOING">Doing</option>
      <option value="DONE">Done</option>
    </select>
    <div class="invalid-feedback">Please provide a status!</div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!issueForm.valid">Submit</button>
</form>
