<h2 class="display-2 my-3">New issue</h2>

{{ issue | json }}

<form action="" #issueForm="ngForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control is-invalid"
      id="title"
      placeholder="Title"
      required
      name="title"
      [(ngModel)]="issue.title"
    />
    <div class="invalid-feedback">Please provide a title!</div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      class="form-control"
      id="description"
      rows="5"
      required
      name="description"
      [(ngModel)]="issue.description"
    ></textarea>
    <div class="invalid-feedback">Please provide a description!</div>
  </div>
  <div class="form-group">
    <label for="place">Place</label>
    <input
      type="text"
      class="form-control"
      id="place"
      placeholder="Place"
      required
      name="place"
      pattern="^PC\d+$"
      [(ngModel)]="issue.place"
    />
    <div class="invalid-feedback">Please provide a place!</div>
  </div>
  <div class="form-group">
    <label for="status">Status</label>
    <select class="form-control" id="status" required
      name="status"
      [(ngModel)]="issue.status"
    >
      <option value="NEW">New</option>
      <option value="DOING">Doing</option>
      <option value="DONE">Done</option>
    </select>
    <div class="invalid-feedback">Please provide a status!</div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!issueForm.valid">Submit</button>
</form>
